# Format Qrels 2021

In [23]:
import pandas as pd

In [31]:
qrels2021 = pd.read_csv("../input/qrels2021.txt", sep = " ", names = ["qid", "iter", "doc_id", "rel"])

qrels2021["rel"].where(qrels2021['rel'] == 2, 0, inplace = True)
qrels2021["rel"].mask(qrels2021['rel'] == 2, 1, inplace = True)

In [32]:
qrels2021.to_csv("../input/qrels2021_train.txt", sep = " ")

       qid  iter       doc_id  rel
0        1     0  NCT00002569    0
1        1     0  NCT00002620    0
2        1     0  NCT00002806    0
3        1     0  NCT00002814    1
4        1     0  NCT00003022    0
...    ...   ...          ...  ...
35827   75     0  NCT04810104    1
35828   75     0  NCT04821830    1
35829   75     0  NCT04825626    0
35830   75     0  NCT04856072    0
35831   75     0  NCT04858074    0

[35832 rows x 4 columns]